// utils styles
@import './utils/vars';
@import './utils/visually-hidden';
@import './utils/mixins';

// base styles
@import './base/base';
@import './base/reset';
@import './base/container';

// layout styles
@import './layout/header';
@import './layout/navigation';
@import './layout/hero';
@import './layout/features';
@import './layout/about';
@import './layout/team';
@import './layout/customers';
@import './layout/footer';

// components styles
@import './components/logo';
@import './components/btn';
@import './components/modal-form';
@import './components/socials';
@import './components/adress';
@import './components/subscription';
