.about {
  display: none;

  @include section(0);

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    color: var(--main-text-colol);
  }

  &__list {
    @include list;

    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__thumb {
    position: relative;
  }

  &__img {
    @include img;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    position: absolute;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--about-text-color);
    background-color: var(--about-background-color);
  }
}
