.customers {
  @include section(60px, 60px);

  @media screen and (min-width: 1200px) {
    @include section;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    color: var(--main-text-colol);

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: calc(42 / 36);
    }
  }

  &__list {
    @include list;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    @media screen and (max-width: 767.5px) {
      @include grid(2);
    }

    @media screen and (min-width: 768px) {
      @include grid(3);
    }

    @media screen and (min-width: 1200px) {
      @include grid(6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    color: var(--socials-text-dark-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: color var(--timing-function), border-color var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }

  &__logo {
    fill: currentColor;
  }
}
