.features {
  @include section(60px, 60px);

  @media screen and (min-width: 1200px) {
    @include section;
  }

  &__list {
    @include list;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__item {
    &:not(:last-child) {
      @media screen and (max-width: 767.5px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      @include grid(2);
    }

    @media screen and (min-width: 1200px) {
      @include grid(4);
    }
  }

  &__wrap {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--icon-background-color);
    border-radius: 4px;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--main-text-colol);

    @media screen and (max-width: 767.5px) {
      display: flex;
      justify-content: center;
    }
  }

  &__text {
    line-height: calc(24 / 14);
    color: var(--secondary-text-colol);
  }
}
