.footer {
  padding: 60px 0;
  background-color: var(--footer-background-color);

  &__container {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__wrapper {
    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__socials {
    @media screen and (max-width: 767.5px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 70px;
    }
  }

  &__subscription {
    // display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--title-text-colol);

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__wrap {
    @media screen and (min-width: 1200px) {
      // max-width: 450px;
      margin-left: auto;
    }
  }
}

.wrapper {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
