.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 93px;
    padding: 24px 0 25px;
  }

  &__list {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__contacts {
    display: flex;
    padding: 32px 0;
    align-items: center;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--secondary-text-colol);
    transition: color var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
