.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    @include link;

    margin-right: auto;
    padding: 16px 0;

    @media screen and (min-width: 768px) {
      margin-right: 87px;
      padding: 26px 0;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      padding: 24px 0 25px;
    }
  }

  &__list {
    @include list;

    display: flex;
    margin-left: auto;
    align-items: center;

    @media screen and (max-width: 767.5px) {
      display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.5px) {
      display: block;
      padding: 21px 0;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1199.5px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__contacts {
    @include link;

    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--secondary-text-colol);
    transition: color var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
      padding: 32px 0;
    }
  }

  &__icon {
    margin-right: 8px;
    fill: currentColor;

    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }
}
