.hero {
  max-width: 1600px;
  min-height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-background-color);

  &__title {
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-text-colol);

    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }

  &__btn {
    min-width: 200px;
    min-height: 50px;
    padding: 10px 24px;
    margin: 0 auto;
    font-weight: 700;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--btn-text-white-colol);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    @media screen and (min-width: 1200px) {
      min-width: 216px;
      padding: 10px 32px;
    }
  }
}
