.adress__list {
  @include list;
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.adress__link {
  @include link;

  display: block;
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--title-text-colol);
  transition: color var(--timing-function);

  &--color {
    color: var(--contacts-text);
  }

  &:hover,
  &:focus,
  &--color:hover,
  &--color:focus {
    color: var(--accent-color);
  }
}
