.logo {
  @include link;

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
  }

  &__dark {
    color: var(--text-dark-logo);
  }

  &__light {
    color: var(--text-light-logo);
  }
}
