.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: var(--mobile-menu-background-color);

  transform: translateX(100%);
  transition: var(--timing-function);

  &.is-open {
    transform: translateX(0);
  }
}

.menu__toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;

  position: absolute;
  top: 10px;
  right: 15px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  transition: fill var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-menu {
  @include list;

  margin-bottom: auto;

  &__item {
    @include list;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    @include link;

    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: var(--main-text-colol);

    transition: color var(--timing-function);

    &--current {
      color: var(--accent-color);
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.mobile-contacts {
  @include list;
  margin-bottom: 45px;

  @media screen and (min-width: 480px) {
    margin-bottom: 64px;
  }

  &__item {
    @include list;

    &:not(:last-child) {
      margin-bottom: 20px;

      @media screen and (min-width: 480px) {
        margin-bottom: 32px;
      }
    }
  }

  &__link {
    @include link;

    font-weight: 500;
    font-size: 27px;
    line-height: calc(31 / 27);
    letter-spacing: 0.02em;

    transition: color var(--timing-function);

    &--current {
      color: var(--accent-color);

      @media screen and (min-width: 480px) {
        font-size: 34px;
        line-height: calc(40 / 34);
      }
    }

    &--fonts {
      font-weight: 500;
      font-size: 24px;
      line-height: calc(28 / 24);
      letter-spacing: 0.02em;
      color: var(--secondary-text-colol);
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.mobile-socials {
  @include list;

  @media screen and (max-width: 479.5px) {
    display: block;
  }

  @media screen and (min-width: 480px) and (max-width: 767.5px) {
    max-width: 360px;
    min-height: 26px;
    overflow: hidden;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    @include link;

    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;

    color: var(--accent-color);

    transition: color var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__item {
    &:not(:last-child) {
      @media screen and (max-width: 479.5px) {
        margin-bottom: 10px;
      }

      @media screen and (min-width: 480px) {
        margin-right: 20px;
      }
    }
  }

  &__link {
    position: relative;

    &::after {
      @media screen and (min-width: 480px) {
        content: '';

        position: absolute;
        display: block;
        bottom: 0;
        right: -10px;

        background-color: rgba(33, 33, 33, 0.2);
        width: 1px;
        height: 22px;
      }
    }
  }
}
