.portfolio {
  @include section(60px, 60px);

  @media screen and (min-width: 1200px) {
    @include section;
  }
}

.filters {
  @include list;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 8px;

  @media screen and (max-width: 767.5px) {
    margin-bottom: 40px;
    max-width: 326px;
    row-gap: 15px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__item {
    background-color: var(--card-background-color);
  }

  &__btn {
    padding: 6px 22px;
    font-weight: 500;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--btn-text-black-colol);
    background-color: var(--btn-background-color);
    transition: color var(--timing-function), background-color var(--timing-function),
      box-shadow var(--timing-function);

    &--active {
      color: var(--btn-text-white-colol);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:hover,
    &:focus {
      color: var(--btn-text-white-colol);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
