.card__link {
  display: block;
  transition: box-shadow var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__item {
  display: flex;
}

.card__link {
  @include link;

  display: flex;
  flex-direction: column;
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__desc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform var(--timing-function);
  background-color: var(--overlay-background-color);

  .card__link:hover &,
  .card__link:focus & {
    transform: translateY(0);
  }
}

.card__text {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--overlay-text-color);
}

.card__img {
  @include img;
}

.card__wrap {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.card__subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-text-colol);
}

.card__title {
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-text-colol);
}
