.socials {
  @include list;

  display: flex;
  gap: 10px;
  justify-content: center;

  &__link {
    @include link;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: color var(--timing-function), background-color var(--timing-function);

    &--color-light {
      color: var(--socials-text-dark-color);
    }

    &--color-light:hover,
    &--color-light:focus {
      color: var(--socials-text-light-color);
      background-color: var(--accent-color);
    }

    &--color-white {
      color: var(--socials-text-light-color);
      background-color: var(--socials-background-dark-color);
    }

    &--color-white:hover,
    &--color-white:focus {
      background-color: var(--accent-color);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
