.card-set {
  display: block;

  //  tablet style
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.card-set-item {
  &:not(:last-child) {
    @media screen and (max-width: 767.5px) {
      margin-bottom: 30px;
    }
  }

  //  tablet style
  @media screen and (min-width: 768px) {
    --items: 2;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }

  //  desktop style
  @media screen and (min-width: 1200px) {
    --items: 3;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}
